<div class="mdl-card mdl-shadow--6dp">
    <div class="mdl-card__supporting-text">
        <!-- Simple Textfield -->
        <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" [(ngModel)]="this.unit.shortName">
                <label class="mdl-textfield__label" >Skrót</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" [(ngModel)]="this.unit.fullName">
                <label class="mdl-textfield__label" >Pełna nazwa</label>
            </div>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
        (click)="save()">Zapisz</button>
    </div>
</div>
