<div class="login-page">
    <div class="login-card mdl-card mdl-shadow--2dp">
        <h3 class="form-title app-name">ERES 3</h3>
        <h4 class="form-title">Logowanie</h4>
        <form enctype="application/x-www-form-urlencoded" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate id="loginform">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input">
                <input type="text" class="mdl-textfield__input form-control" name="username" id="username" [(ngModel)]="model.username" #username="ngModel"/>
                <label class="mdl-textfield__label" for="username">Login</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input">
                <input type="password" class="mdl-textfield__input form-control" id="password" name="password" [(ngModel)]="model.password" #password="ngModel"/>
                <label class="mdl-textfield__label" for="password">Hasło</label>
            </div>
        </form>
        <button (click)="login()" [disabled]="loading" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent login-button">
            Zaloguj się
        </button>
        <div *ngIf="loading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" style="position: fixed; left: 50%; margin: 0;"></div>
        <div *ngIf="badAuth" style="color: red">Błędny login lub hasło!</div>
    </div>

    <div class="form-footer">
    </div>
</div>