.login-card.mdl-card {
    padding: 48px 40px 36px;
    -webkit-transition: width 0.5s, padding 0.5s; /* Safari */
    transition: width 0.5s, padding 0.5s;
    display: block;
    position: relative;
}
.app-name {
    margin: 10px 0;
}

.form-title {
    font-weight: 300;
    line-height: 32px;
}

.form-input {
    padding: 20px 0px 20px 0px;
    width: 100%;
    display: flex;
}

.login-button {
    width: 40%;
    left: 60%;
    min-width: 100px;
    margin: 20px 0px 100px 0px;
}
.language-button {
    text-transform: none;
    padding: 0px;
    font-weight: normal;
    color: #212121;
    transition: padding 0.5s;
    -webkit-transition: padding 0.5s; /* Safari */
}

.login-page {
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-height: 500px;
}

@media all and (min-width: 601px) {

    .login-card.mdl-card {
        width: 512px;
        left: 50%;
        top: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .form-footer {
        position: relative;
        display: block;
        height: 36px;
        width: 512px;
        left: 50%;
        top: 50%;
        -moz-transform: translate(-50%, -650%);
        -webkit-transform: translate(-50%, -650%);
        -o-transform: translate(-50%, -650%);
        transform: translate(-50%, -650%);
        z-index: 2;
    }

}
@media all and (max-width: 601px) {
    .login-card.mdl-card {
        width: 100%;
        box-shadow: none;
    }
    .login-page{
        background-color: #ffffff;
    }
    .form-footer {
        position:absolute;
        display:block;
        bottom:0;
        width: 100%;
        z-index: 2;
    }
    .language-button{
        padding: 0px 40px;

    }
}

@media all and (max-width: 450px) {
    .login-card.mdl-card {
        padding: 24px 20px 18px;
    }
    .language-button{
        padding: 0px 20px;
    }
}