<div class="login-page">
    <div class="login-card mdl-card mdl-shadow--2dp">
        <h3 class="form-title app-name">ERES 3</h3>
        <h4 class="form-title">Logowanie</h4>
        <form action="#" id="loginform">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input">
                <input class="mdl-textfield__input" type="text" id="login">
                <label class="mdl-textfield__label" for="login">Login</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input">
                <input class="mdl-textfield__input" type="password" id="password">
                <label class="mdl-textfield__label" for="password">Hasło</label>
            </div>
        </form>
        <button type="submit" form="loginform" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent login-button">
            Zaloguj się
        </button>
    </div>

    <div class="form-footer">
        <button id="language-button" class="mdl-button mdl-js-button mdl-js-ripple-effect language-button">
            polski &#x25BC;
        </button>
        <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" for="language-button">
            <li class="mdl-menu__item">polski</li>
            <li class="mdl-menu__item">English</li>
        </ul>
    </div>
</div>