<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp center-hori">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Nazwa</th>
				<th class="mdl-data-table__cell--non-numeric">Opis</th>
				<th class="mdl-data-table__cell--non-numeric">Opcje</th>

        <th>
            <button routerLink="add"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Dodaj
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let permission of permissions">
        <td class="mdl-data-table__cell--non-numeric">
            {{permission.name}}
        </td>
		<td class="mdl-data-table__cell--non-numeric">
            {{permission.description}}
        </td>
        <td>
          <button routerLink="edit/{{permission.name}}"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Szczegóły
            </button>
        </td>
    </tr>
    </tbody>
</table>
