<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="eres-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">
            ERES3
          </span>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect top-nav" routerLink="/dashboard"
                   routerLinkActive="current">Strona główna</a>
                <a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect top-nav" routerLink="/users"
                   routerLinkActive="current">Użytkownicy</a>
                <a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect top-nav" routerLink="/units"
                   routerLinkActive="current">Jednostki organizacyjne</a>
            </nav>
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <li class="mdl-menu__item" routerLink="/login">Zaloguj się</li>
            </ul>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout-title">ERES3</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link side-nav" routerLink="/dashboard" routerLinkActive="current">Strona
                główna</a>
            <a class="mdl-navigation__link side-nav" routerLink="/users" routerLinkActive="current">Użytkownicy</a>
            <a class="mdl-navigation__link side-nav" routerLink="/units" routerLinkActive="current">Jednostki
                organizacyjne</a>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>