[ndbd default]
NoOfReplicas=2
DataMemory=512M
IndexMemory=64M

[ndb_mgmd]
NodeId=1
hostname=192.168.103.201
datadir=/var/lib/mysql

[ndb_mgmd]
NodeId=2
hostname=192.168.103.202
datadir=/var/lib/mysql

[ndbd]
NodeId=3
hostname=192.168.103.211
datadir=/var/lib/mysql

[ndbd]
NodeId=4
hostname=192.168.103.212
datadir=/var/lib/mysql

[mysqld]
NodeId=5
hostname=192.168.103.221

[mysqld]
NodeId=6
hostname=192.168.103.222

[mysqld]
NodeId=7
hostname=192.168.103.223
