[ndbd default]
NoOfReplicas=2
DataMemory=512M
IndexMemory=64M

[ndb_mgmd]
NodeId=1
hostname=man1.ndb
datadir=/var/lib/mysql

[ndb_mgmd]
NodeId=2
hostname=man2.ndb
datadir=/var/lib/mysql

[ndbd]
NodeId=3
hostname=data1.ndb
datadir=/var/lib/mysql

[ndbd]
NodeId=4
hostname=data2.ndb
datadir=/var/lib/mysql

[mysqld]
NodeId=5
hostname=node1.ndb

[mysqld]
NodeId=6
hostname=node2.ndb

[mysqld]
NodeId=7
hostname=node3.ndb
