<h2 class="center-hori">Dodaj nowego użytkownika</h2>
<div class="mdl-card mdl-shadow--6dp center-hori">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Dane użytkownika</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <!-- Simple Textfield -->
        <div>
            <div class="mdl-textfield mdl-js-textfield ">
                <input class="mdl-textfield__input" type="text" [(ngModel)]="this.person.firstName" id="name">
                <label for="name"><b>Imię</b></label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" [(ngModel)]="this.person.otherNames" id="otherNames">
                <label for="otherNames"><b>Pozostałe imiona</b></label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" [(ngModel)]="this.person.lastName" id="surname">
                <label for="surname"><b>Nazwisko</b></label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" [(ngModel)]="this.person.pesel" id="pesel">
                <label for="pesel"><b>PESEL</b></label>
            </div>
            <div class="mdl-textfield mdl-js-textfield ">
                <input class="mdl-textfield__input" type="text" [(ngModel)]="this.person.login" id="login">
                <label for="login"><b>Login</b></label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="password" [(ngModel)]="this.person.password" id="passwd">
                <label for="passwd"><b>Hasło</b></label>
            </div>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                (click)="save()">Zapisz
        </button>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                *ngIf="this.allowRemoval" (click)="delete()">Usuń
        </button>
            <button routerLink="permissions"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Uprawnienia
            </button>
    </div>
</div>
