<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Nazwa</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let unit of units">
        <td class="mdl-data-table__cell--non-numeric">{{unit.fullName}}</td>
        <td>
            <button routerLink="edit/{{unit.id}}"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Szczegóły
            </button>
        </td>
        <td>
            <button routerLink="specializations/{{unit.id}}"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Specjalizacje
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button routerLink="add"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Dodaj
            </button>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>