<h2 class="mdl-card__title-text">Lista użytkowników</h2>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Imię</th>
        <th class="mdl-data-table__cell--non-numeric">Nazwisko</th>
        <th>Pesel</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons">
        <td class="mdl-data-table__cell--non-numeric">{{person.firstName}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{person.lastName}}</td>
        <td>{{person.pesel}}</td>
        <td>
            <button routerLink="{{person.id}}"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Szczegóły
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button routerLink="add"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Dodaj
            </button>
        </td>
    </tr>
    </tbody>
</table>
