<h2>Lista użytkowników</h2>
<div id="table-container">
    <div class="table-responsive-vertical shadow-2dp">
        <table id="table" class="table table-hover table-bordered table-mobile-condensed shadow-2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Imię</th>
                <th class="mdl-data-table__cell--non-numeric">Nazwisko</th>
                <th class="mdl-data-table__cell--non-numeric">PESEL</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of persons">
                <td data-title="Imię" class="mdl-data-table__cell--non-numeric">
                    {{person.firstName}}
                </td>
                <td data-title="Nazwisko" class="mdl-data-table__cell--non-numeric">
                    {{person.lastName}}
                </td>
                <td data-title="PESEL">
                    {{person.pesel}}
                </td>
                <td class="align-right">
                    <button routerLink="{{person.id}}"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                        Edytuj
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot><p>&nbsp;</p>
            </tfoot>
        </table>
        <button routerLink="add"
                class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored edge-button">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>