<div class="mdl-card mdl-shadow--6dp">
    <div class="mdl-card__supporting-text">
        <!-- Simple Textfield -->
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="specialization.fullName" id="fullName">
            <label for="fullName">Pełna nazwa</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="specialization.shortName" id='shortName'>
            <label for="shortName">Skrót</label>
        </div>
        <div class="mdl-selectfield mdl-js-selectfield">
            <select class="mdl-selectfield__select" [(ngModel)]="specialization.type" id="type">
                <option value="PATH">PATH</option>
                <option value="FACULTY">FACULTY</option>
                <option value="MAJOR">MAJOR</option>
                <option value="SPECIALITY">SPECIALITY</option>
            </select>
            <label for="type">Typ</label>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                (click)="save()">Zapisz
        </button>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                *ngIf="allowRemoval" (click)="delete()">Usuń
        </button>
    </div>
</div>